# Ignore local dependencies and build artifacts
node_modules
npm-debug.log*
yarn-debug.log*
.pnp
.pnp.js
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
*.md
*.log
*.env*
.next
out
build
.vscode
.idea
coverage
